<form method="post" action="{{ path('app_vinyle_delete', {'id': vinyle.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ vinyle.id) }}">
    <button class="btn">Delete</button>
</form>
